.card {
    margin: 10px;
    padding: 10px;
    border-radius: 5%;
    width: 300px;
    height: 600px;
    color: white;
    background-color: black;
    border: 4px solid white;
    box-shadow: 4px 4px 4px gray;
}

.card #photu {
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5%;
    transition: transform .3s ease-in-out;
    /* margin: 0 0 10px 0; */
}

.card #photu:hover {
    transform: scale(1.05);
}

.img-div {
    overflow: hidden;
    border-radius: 5%;
    height: 300px;
}

.sketch {
    border-radius: 5%;
}

.card:hover {
    border: 4px solid red;
    box-shadow: 4px 4px 4px gray;
}

.img-name {
    font-family: 'Oswald', cursive;
    font-size: 35px;
}

.sm-desc {
    font-size: 20px;
    margin: 0 10px;
}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-more {
    height: 40px;
    width: 40%;
    border-radius: 10px;
    border: 3px solid red;
}

.read-more:hover {
    background-color: aqua;
}

.tag-name {
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin: 0 2px;
    padding: 0 5px;
}