.name span{
    font-size: 3rem;
    letter-spacing: 10px;
    width: -webkit-fill-available;
    overflow-wrap: anywhere;
}
.sub-name span{
    font-size:2rem;
}
.container::-webkit-scrollbar{
    display: none;
}
/* .parent{
    position: relative;
} */
/* .preview{
    height:100vh;
    width:100vw;
    position: absolute;
    top:0;
    background-color: rgba(128, 128, 128, 0.53);
} */