.nav-head{
    background-color:black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    color:white;
}
.nav-left{
    /* width:20vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left a{
    margin:10px;
}
.nav-mid ul,.nav-right{
    display: flex;
    margin:0;
    list-style: none;
}
.nav-mid li{
    margin: 0 20px;
}
.nav-right button{
    margin:0 10px;
    display:flex;
    cursor:pointer;
    align-items: center;
}
.trans-btn{
    background-color: rgba(240, 248, 255, 0);
    border:none;
    cursor:pointer;
}

@media screen and (max-width:793px) {
    .nav-head{
        width:max-content;
    }
}
@media screen and (min-width:793px) and (max-width:990px) {
    .nav-head{
        width:auto;
    }
}